a{
  text-decoration: none;
}
a:hover{
  cursor: pointer;
  text-decoration: underline;
  color: #979289;;
}
button:hover{
  cursor: pointer;
  text-decoration: none;
  color: #979289;;
}
.main {
  background-color: #303436;
  margin: 0 auto;
}
.mainimage {
  display: block;
  margin: 0 auto;
}
.toplinks{
  padding: 0 4px 0 32px;
}
.toplinks-1{
  padding: 0 15px 0 15PX;
  color: #979289;
  font-size: 13px;
}
.signin{
  /*background-color: #8ab4f8;*/
  /*box-sizing: border-box;*/
  color: #303436;
  font-size: 14px;
  font-family: 'Times New Roman';
  border-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  /*margin: 0px 8px;*/
  /*padding: 9px 23px;*/
}

.itemstop {
  font-size: 13px;
  color: #dcdad7;
  font-family: 'Times New Roman';
}
.form {
  padding: 5px 8px 0 14px;
}
.search {
  padding: 20px 20px 20px 20px;
  height: 160px;
}
.division {
  margin: 7px 270px 0px 270px;
  height: 44px;
}
.topnavbar {
  padding: 6px;
  height: 60px;
}
.Border {
  border: 1px solid rgb(177, 172, 166);
  border-radius: 24px;
}
.Row-1 {
  height: 44px;
}
.search-icon {
  color: #dcdad7;
  padding-right: 13px;
}
/*.item-1 {
  height: 27px;
  padding: 0 13px 0 0;
}*/
.textbar {
  /*width: 487px;*/
  height: 34px;
}
.buttons {
  margin: 7px 270px 0px 270px;
  padding: 18px 0 12px 0;
  /*width: 584px;*/
  height: 70px;
}
.buttons-0 {
  margin: 0 0 12px 0;
}
.buttons-1 {
  margin: 11px 4px 11px 4px;
  border: 1px;
  border-radius: 4px;
  padding: 0 16px 0 16px;
  /*width: 117px;*/
  height: 36px;
  background-color: #3b4043;
  font-size: 14px;
  font-family: 'Times New Roman';
  color: #cecbc7;
}
.buttons-2 {
  margin: 11px 4px 11px 4px;
  border: 1px;
  border-radius: 4px;
  padding: 0 16px 0 16px;
  /*width: 137px;*/
  height: 36px;
  background-color: #3b4043;
  font-size: 14px;
  font-family: 'Times New Roman';
  color: #dcdad7;
}
.lang-0 {
  background-color: #303436;
  height: 158px;
}
.lang-1 {
  font-size: 13px;
  font-family: 'Times New Roman';
  color: #b1aca6;
  margin: 0 0 24px 0;
}
.bottombar-0 {
  padding: 0 20px 0 20px;
  color: #979289;
  font-family: 'Times New Roman';
  font-size: 14px;
  background-color: #282c2d;
  /*height: 46px;*/
}
.b-links-0 {
  padding: 15px;
  font-family: 'Times New Roman';
  font-size: 14px;
  color: #979289;
}
.farsi{
  color:#6F9DEB;
}