.mainimage{
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}