.main{
  background-color: #303436;
}
.mainimage{
  display: block;
  margin:0 auto;
}
.itemstop{
  font: 13px;
  color:#DCDAD7;
  font-family:Times New Roman;
}
.form{
  padding: 5px 8px 0 14px;
}
.search{
  padding: 20px 20px 20px 20px;
}
.division{
  padding: 7px 271px 89px 271px;
  height: 44px;
}
.topnavbar{
  padding: 5px 5px 6px 5px;
  height: 60px;
}
.Border{
  border: 1px solid rgb(177, 172, 166);
  border-radius: 24px
}
.Row-1{
  height: 44px;
}
.search-icon{
  color: #DCDAD7;
  margin: ;
}
.item-1{
  height: 27px;
  padding: 0 13px 0 0;
}